# Python
*.pyc
__pycache__/

# Virtualenv
venv/
env/

# Django
*.sqlite3
db.sqlite3
/static/
media/
*.log

# Environment vars
.env

# VS Code / IDE
.vscode/
.idea/

# Docker
*.pid
*.log
.docker/
docker-compose.override.yml

# Migrations (optional — keep if you want to reset often)
**/migrations/*.py
!**/migrations/__init__.py

# Bytecode, cache
*.py[cod]
*$py.class
